.board {
    overflow: hidden;
    width: 100%;
}

.columns {
    display: flex;
    width: 300%;
    transition: transform 0.3s ease;
}

.column {
    width: 100%;
    flex-shrink: 0;
    padding: 1rem;
}

/* indicadores */
.dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 12px 0;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #aaa;
}

.dot.active {
    background: #2563eb;
}

/* desktop */
@media (min-width: 768px) {
    .columns {
        transform: none !important;
        width: 100%;
    }

    .column {
        width: 33.33%;
    }

    .dots {
        display: none;
    }
}
