.board {
    overflow: hidden;
    width: 100%;
    padding: 0 8px;
}

.columns {
    display: flex;
    width: 100%;
    transition: transform 0.3s ease;
}

.column {
    width: 100%;
    flex-shrink: 0;
    padding: 1rem;
    border-radius: 14px;
}

/* indicadores */
.dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 12px 0;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

body.dark .dot {
    background: #475569;
}

body.dark .dot.active {
    background: #2563eb;
}

.dot.active {
    background: #2563eb;
}

body,
.column,
.card {
    transition:
        background 0.3s ease,
        color 0.3s ease;
}

.card {
    border-radius: 10px;
    padding: 0.75rem;
    margin-bottom: 0.75rem;
    transition:
        transform 0.2s ease,
        border-color 0.2s ease;
}

body.dark .card:hover {
    border-color: #2563eb;
    transform: translateY(-2px);
}

body.dark .column {
    background: #202020b4;
    border: 1px solid #1e293b;
}

body.light .column {
    background: #e5e7eb;
    border: 1px solid #cbd5f5;
}

/* desktop */
@media (min-width: 768px) {
    .columns {
        width: 100%;
        transform: none !important;
        width: 100%;
        justify-content: space-evenly;
    }

    .column {
        width: 33.33%;
    }

    .dots {
        display: none;
    }
}
