.column {
    background: $column-bg;
    padding: 15px;
    width: 280px;
    border-radius: $radius;

    h2 {
        margin-bottom: 15px;
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    .column {
        width: 100%;
    }
}
