.task {
    background: $card-bg;
    padding: 10px;
    border-radius: $radius;
    margin-bottom: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    p {
        margin-bottom: 8px;
        font-size: 14px;
    }

    select {
        width: 100%;
        margin-bottom: 5px;
    }

    button {
        width: 100%;
        background: #ff4d4f;
        color: white;
        border: none;
        padding: 6px;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
            background: #d9363e;
        }
    }
}

@media (max-width: 768px) {
    .task {
        padding: 14px;

        p {
            font-size: 16px;
        }

        button {
            padding: 10px;
            font-size: 14px;
        }
    }
}
